---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const servers = (await getCollection('servers')).sort(
	(a, b) => a.data.name.localeCompare(b.data.name)
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				padding: 0;
				width: calc(50% - 1rem);
				height: calc(50% - 2rem);
				border: whitesmoke 3px solid;
				border-radius: 2rem;
				margin-bottom: 1rem;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				height: 100%;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li a img {
				margin-bottom: none;
				padding: 0;
				border-radius: 0 0 2rem 2rem;
			}
			ul li a {
				display: block;
				padding: 0;
			}

			.title {
				margin: 0;
				color: rgb(var(--white));
				line-height: 1;
				height: 35px;
			}

			ul li a h4 {
				transition: background-color 0.2s ease, border-bottom-color 0.2s ease;
				border-bottom: transparent 3px solid;
				border-radius: 2rem 2rem 0 0;
			}

			ul li a:hover h4 {
				background-color: rgba(var(--gray), 20%);
				border-bottom: whitesmoke 3px solid;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						servers.map((server) => (
							<li>
								<a href={`/servers/${server.data.slug}/`}>
									<h4 class="title">{server.data.name}</h4>
									{server.data.banner && <img width={720} src={server.data.banner} alt="" />}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
